<!DOCTYPE html>
<html lang="en" ng-app="romeDemo">
<head>
  <meta charset="UTF-8">
  <title>Angular Rome Example</title>
  <link rel="stylesheet" href="example.css">
  <link rel="stylesheet" href="../node_modules/rome/dist/rome.css">
</head>
<body ng-controller="RomeDemoController as vm">
  <h1>Rome</h1>
  <h3>AngularJS Directive for Rome</h3>
  <div class='examples'>
    <div class='parent'>
      <div>
      <label for='dt'>Pick a date and a time: </label>
      <rome ng-model="vm.date1"></rome>
      </div>
      <pre>
        <code>&lt;rome ng-model=&quot;vm.date1&quot;&gt;&lt;/rome&gt;</code>
      </pre>
    </div>

    <div class='parent'>
      <label for='dt'>Works just fine with initial values! </label>
      <rome ng-model="vm.date2" initial-value="2014-12-08 08:36"></rome>
      <pre>
        <code>
          &lt;rome ng-model=&quot;vm.date2&quot; initial-value=&quot;2014-12-08 08:36&quot;&gt;&lt;/rome&gt;
        </code>
      </pre>
    </div>

    <div class='parent'>
      <h2>Working with Model</h2>
      <p>
        <label for='dt'>Works just fine with existing model using Date() </label>
        <rome ng-model="vm.dateExistingModelDate"></rome>
      </p>
      <p>
        <label for='dt'>Works just fine with existing model using String </label>
        <rome ng-model="vm.dateExistingModelString"></rome>
      </p>
      <pre>
        <code>
          vm.dateExistingModelDate = new Date('2015-01-01');
        </code>
        <code>
          vm.dateExistingModelString = '2015-02-01';
        </code>
        <code>
          &lt;rome ng-model=&quot;vm.dateExistingModelDate&quot;&gt;&lt;/rome&gt;
          &lt;rome ng-model=&quot;vm.dateExistingModelString&quot;&gt;&lt;/rome&gt;
        </code>
      </pre>
    </div>

    <div class='parent'>
      <label for='sm'>Works with input format: </label>
      <rome ng-model="vm.dateInputFormat" input-format="D/MM/YYYY"></rome>
      <p>Model value: {{ vm.dateInputFormat | date }}</p>
      <pre>
        <code>
          &lt;rome ng-model=&quot;vm.dateInputFormat&quot; input-format=&quot;D/MM/YYYY&quot;&gt;&lt;/rome&gt;
        </code>
      </pre>
    </div>

    <div class='parent'>
      <label for='sm'>Works with ng-change: </label>
      <rome ng-model="vm.dateNgChanged" input-format="{{ vm.inputFormat }}" ng-change="vm.updateDate()"></rome>
      <p>Model value: {{ vm.dateNgChanged | date }}</p>
      <p>Updated at: {{ vm.dateTimeNgChanged }}</p>
      <pre>
        <code>
          &lt;rome ng-model=&quot;vm.dateNgChanged&quot; input-format=&quot;D/MM/YYYY&quot;&gt;&lt;/rome&gt;
        </code>
      </pre>
    </div>

    <div class='parent'>
      <p>
        <label for='sm'>Using custom styles option 1: </label>
        <rome ng-model="vm.dateCustomStyle1" styles='{ "container": "rd-container red-container" }'></rome>
      </p>
      <p>
        <label for='sm'>Using custom styles option 2: </label>
        <rome ng-model="vm.dateCustomStyle2" styles='{{ vm.customStyle }}'></rome>
      </p>
      <pre>
        <code>
          &lt;rome ng-model=&quot;vm.dateCustomStyle1&quot; styles=&apos;{ &quot;container&quot;: &quot;rd-container red-container&quot; }&apos;&gt;&lt;/rome&gt;
          &lt;rome ng-model=&quot;vm.dateCustomStyle2&quot; styles=&apos; vm.customStyle2 &apos;&gt;&lt;/rome&gt;
        </code>
      </pre>
    </div>

    <div class='parent'>
      <label for='sm'>Weeks starting on monday: </label>
      <rome ng-model="vm.date3" week-start="1"></rome>
      <pre>
        <code>
          &lt;rome ng-model=&quot;vm.date3&quot; week-start=&quot;1&quot;&gt;&lt;/rome&gt;
        </code>
      </pre>
    </div>

    <div class='parent'>
      <label for='d'>Pick a date: </label>
      <rome ng-model="vm.date4" time="false"></rome>
      <pre>
        <code>
          &lt;rome ng-model=&quot;vm.date4&quot; time=&quot;false&quot;&gt;&lt;/rome&gt;
        </code>
      </pre>
    </div>

    <div class='parent'>
      <label for='t'>Pick a time: </label>
      <rome ng-model="vm.date5" date="false"></rome>
      <pre>
        <code>
          &lt;rome ng-model=&quot;vm.date4&quot; date=&quot;false&quot;&gt;&lt;/rome&gt;
        </code>
      </pre>
    </div>

    <div class='parent'>
      <label for='mms'>Want to display two contiguous months instead of just one?</label>
      <rome ng-model="vm.date6" months-in-calendar="2"></rome>
      <pre>
        <code>
          &lt;rome ng-model=&quot;vm.date6&quot; months-in-calendar=&quot;2&quot;&gt;&lt;/rome&gt;
        </code>
      </pre>
    </div>

    <div class='parent'>
      <label for='mm'>Pick a date between <em>2013-12-30</em> and <em>2014-10-01</em>: </label>
      <rome ng-model="vm.date7" min="2013-12-30" max="2014-10-01"></rome>
      <pre>
        <code>
          &lt;rome ng-model=&quot;vm.date7&quot; min=&quot;2013-12-30&quot; max=&quot;2014-10-01&quot;&gt;&lt;/rome&gt;
        </code>
      </pre>
    </div>

    <div class='parent'>
      <label for='mmt'>It works great with specific date and time too! </label>
      <rome ng-model="vm.date8" min="2014-04-30 19:45" max="2014-09-01 08:30"></rome>
      <pre>
        <code>
          &lt;rome ng-model=&quot;vm.date8&quot; min=&quot;2014-04-30 19:45&quot; max=&quot;2014-09-01 08:30&quot;&gt;&lt;/rome&gt;
        </code>
      </pre>
    </div>

    <div class='parent'>
      <p>Range between two inputs? Sure!</p>
      <rome id="date9" ng-model="vm.date9" before-eq="date10"></rome>
      <rome id="date10" ng-model="vm.date10" after-eq="date9"></rome>
      <pre>
        <code>
          &lt;rome ng-model=&quot;vm.date8&quot; min=&quot;2014-04-30 19:45&quot; max=&quot;2014-09-01 08:30&quot;&gt;&lt;/rome&gt;
        </code>
      </pre>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
  <script src="../angular-rome.js"></script>
  <script src="script.js"></script>
</body>
</html>